.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 24px;
    color: #0070f3;
    margin: 10px 0;
  }
  
  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilo común para todos los botones */
  .tabButton, .itemButton, .editButton, .deleteButton, .returnButton, .addButton, .detailButton {
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tabButton:hover, .itemButton:hover, .editButton:hover, .deleteButton:hover, .returnButton:hover, .addButton:hover, .detailButton:hover {
    background-color: #005bb5;
  }
  
  .activeTab {
    background-color: #005bb5;
  }
  
  .list {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  
  .itemText {
    font-size: 16px;
    color: #333;
  }
  
  /* Estilo específico para el botón de eliminación */
  .deleteButton {
    background-color: #dc3545;
  }
  
  .deleteButton:hover {
    background-color: #a71d2a;
  }
  
  /* Estilo específico para el botón de adición */
  .addButton {
    background-color: #28a745;
    margin-top: 20px;
  }
  
  .addButton:hover {
    background-color: #218838;
  }
  
  /* Estilo específico para el botón de retorno */
  .returnButton {
    background-color: #007bff;
    margin-top: 20px;
  }
  
  .returnButton:hover {
    background-color: #0056b3;
  }
  
  /* Estilo específico para el nuevo botón de detalles */
  .detailButton {
    background-color: #6c757d;
    margin-top: 20px;
  }
  
  .detailButton:hover {
    background-color: #5a6268;
  }
  