.container {
    padding: 20px;
  }
  
  .eventGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .detailButton {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
    
  .eventCard {
    flex: 1 1 calc(33% - 20px);
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  