.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 36px;
    color: #333;
  }
  
  .subtitle {
    font-size: 24px;
    color: #0070f3;
    margin-top: 10px;
  }
  .createEventButton {
    position: static;
    bottom: 20px;
    right: 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .createEventButton:hover {
    background-color: #005bb5;
  }
  
  