.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #0070f3;
}

.input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #0070f3;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.registerPrompt {
  margin-top: 15px;
  text-align: center;
  color: #555;
}

.registerLink {
  color: #0070f3;
  cursor: pointer;
  text-decoration: underline;
}

.registerLink:hover {
  color: #005bb5;
}
